# Data preparation

### Step 1) *libraries are imported and unused columns are eliminated*

In [3]:
import pandas as pd
import numpy as np
import math
import time
import matplotlib.pyplot as plt

ds=pd.read_csv('L3_options_20190815.csv')

#Deleting the unused columns

ds.drop('Volume', axis=1, inplace=True)
ds.drop('OpenInterest', axis=1, inplace=True)
ds.drop('T1OpenInterest', axis=1, inplace=True)
ds.drop('IVBid', axis=1, inplace=True)
ds.drop('IVAsk', axis=1, inplace=True)
ds.drop('AKA', axis=1, inplace=True)
ds.drop('UnderlyingSymbol', axis=1, inplace=True)
ds.drop('Flags', axis=1, inplace=True)

ds.head()

,UnderlyingPrice,OptionSymbol,Type,Expiration,DataDate,Strike,Last,Bid,Ask,IVMean,Delta,Gamma,Theta,Vega
0,69.59,A190816C00042500,call,08/16/2019,08/15/2019,42.5,0.0,25.05,29.50,1.0356,1.0,0.0,-0.9762,0.0
1,69.59,A190816P00042500,put,08/16/2019,08/15/2019,42.5,0.0,0.00,0.04,1.2329,0.0,0.0,0.0000,0.0
2,69.59,A190816C00045000,call,08/16/2019,08/15/2019,45.0,0.0,22.35,27.00,1.0356,1.0,0.0,-1.0336,0.0
3,69.59,A190816P00045000,put,08/16/2019,08/15/2019,45.0,0.0,0.00,0.04,1.2329,0.0,0.0,0.0000,0.0
4,69.59,A190816C00047500,call,08/16/2019,08/15/2019,47.5,0.0,19.85,24.40,1.0356,1.0,0.0,-1.0910,0.0

### Step 2) *Average price and Time to maturity are created; the remaining redundant columns are eliminated*

In [4]:
#Creating the target variable 'Price' as the average of Bid and Ask price

ds['Average Price']=(ds['Bid']+ds['Ask'])/2

ds.drop('Bid', axis=1, inplace=True)
ds.drop('Ask', axis=1, inplace=True)

#Creating the variable 'Time to maturity' as a fraction of 252 yearly working days

date_format = "%m/%d/%Y"
ds['StartDay'] = pd.to_datetime(ds[' DataDate']).sub(pd.Timestamp('2019-01-01')).dt.days
ds['ExpirationDay'] = pd.to_datetime(ds['Expiration']).sub(pd.Timestamp('2019-01-01')).dt.days
ds['TimeToMaturity'] = (ds['ExpirationDay'] - ds['StartDay'])/252

#Risk Free rate, the US 3 months treasury bill rate

rf = 0.0187 

#Deleting all the remaining unused columns

ds.drop('Expiration', axis=1, inplace=True)
ds.drop(' DataDate', axis=1, inplace=True)
ds.drop('Last', axis=1, inplace=True)
ds.drop('Delta', axis=1, inplace=True)
ds.drop('Gamma', axis=1, inplace=True)
ds.drop('Theta', axis=1, inplace=True)
ds.drop('Vega', axis=1, inplace=True)
ds.drop('StartDay', axis=1, inplace=True)
ds.drop('ExpirationDay', axis=1, inplace=True)
ds.drop('OptionSymbol', axis=1, inplace=True)

ds.head()

   UnderlyingPrice  Type  Strike  IVMean  Average Price  TimeToMaturity
0            69.59  call    42.5  1.0356         27.275        0.003968
1            69.59   put    42.5  1.2329          0.020        0.003968
2            69.59  call    45.0  1.0356         24.675        0.003968
3            69.59   put    45.0  1.2329          0.020        0.003968
4            69.59  call    47.5  1.0356         22.125        0.003968

### Step 3) *train/test split*

In [5]:
#Dividing observations in test set and training set

train_ds = ds.sample(frac=0.8,random_state=0)
test_ds = ds.drop(train_ds.index)

print(str(len(train_ds))+" train observations")
print(str(len(test_ds))+" test observations")

742939 train observations
185735 test observations

### Step 4) *quick visualization of data*

![alt text](http://localhost:8888/files/Desktop/Tesi%20Borri/Grafici%20e%20tabelle/Data%20exploration.png?_xsrf=2%7Ce5b511d0%7C653ab010e3f3fffbd39d614750c07f88%7C1598287506)